body {
  background-color: #cdd2d5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #eeeeee;
  border-width: 10px;
  width: 7%;
}

h1 {
  color: #234242;
}

h3 {
  color: #478585;
}
